@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #A6CBFA, #DCEBFF);
}

.no-shadow:focus {
    box-shadow: none !important;
}

.completed {
    text-decoration: line-through;
    color: #6c757d;
}